.profile__edit-button{
    width: 24px;
    height: 24px;
    margin-left: 17px;
    border: none;
    background: url(../../../images/edit-button.png);
  }
  
  
  
  @media screen and (min-width:320px){
    .profile__edit-button{
      margin-right: 50px;
      margin-left: -40px;
  }
  }
  
  
  @media screen and (min-width:601px){
    .profile__edit-button{
      margin-right: 0;
      margin-left: 16px;
    }
  
  }
  
  
  @media screen and (min-width:1024px){
    .profile__edit-button{
      margin-right: 0;
      margin-left: 16px;
  }
  }

  .profile__edit-button:hover{
    opacity: 0.6;
  }